/* Importa una fuente bonita desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f4f4f4;
    background: linear-gradient(to bottom, #1e1e2e, #3a0ca3);
    height: 100vh;
    color: white;
}

/* Título */
h1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
}

/* Botón */
button {
    background: white;
    color: #833ab4;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #833ab4;
    color: white;
}

.user-name {
    font-weight: bold;
    color: #ffd700;
    text-shadow:
        0 0 10px #ffd700,
        0 0 20px #ffa500;
}

.form-control {
    color: black;
}
