{% extends "main.html" %}

{% block title %}
Home
{% endblock %}


{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center vh-100 text-center w-50 mx-auto">
    <main class="px-3">
        <h1>LOGO</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <button type="button" class="btn btn-outline-light">Login</button>
            <button type="button" class="btn btn-warning">Sign-up</button>
        </p>
    </main>
</div>
{% endblock %}
